@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f1f20;
  --foreground: #eff0f6;
  --accent: #412fc6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
